.header-area {
    background-color: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
}

.btn-Common {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    padding: 19px 28px;
}

#header-context {
    width: 570px;
    height: 511px;
    margin-left: 300px;
    margin-right: 25px;
}

#header-img {
    width: 816px;
    height: 570px;
    border-radius: 20px;
}

#header-img img {}

.nav-tittle {
    margin-left: 180px;
}

@media only screen and (max-width: 600px) {
    #header-context {
        margin-left: 100px;
        margin-right: 25px;
    }
    .nav-tittle {
        margin-left: 15px;
    }

    .btn-Common {
        padding: 10px 15px;
    }

    .button-class {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1020px) {
    .button-class {
        margin-top: 20px;
    }
}